<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
        <div class="container">
            <a class="navbar-brand" href="#">News Aggregator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/aggregate">Aggregator<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News Sources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bangladesh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">International</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sports</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-5 pt-5">
        <div class="source-select my-5 d-flex justify-content-center">
            <form action="/aggregate" method="POST">
                {% csrf_token %}
                {{ form }} 
                <center class="mt-3"><button type="submit" class="btn btn-danger">Aggregate</button></center>
            </form>
        </div>
        <div class="row">
            {% if source_one %}
                {% if source_one == 'tbt_news' %}
                <div class="col-6">
                    <h3 class="text-center"> News from The Bangldesh Today </h3>
                    {% for n in tbt_news %}
                    <h5> -  {{n}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_one == 'tna_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from The New Age</h3><br>
                    {% for na in tna_news %}
                    <h5> - {{na}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_one == 'tds_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from The Daily Star</h3><br>
                    {% for ds in tds_news %}
                    <h5> - {{ds}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_one == 'bd_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from BDNews24</h3><br>
                    {% for bd in bd_news %}
                    <h5> - {{bd}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_one == 'dt_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from Dhaka Tribune</h3><br>
                    {% for dt in dt_news %}
                    <h5> - {{dt}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_one == 'tdo_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from The Daily Observer</h3><br>
                    {% for tdo in tdo_news %}
                    <h5> - {{tdo}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% endif %}
            {% endif %}

            {% if source_two %}
                {% if source_two == 'tbt_news' %}
                <div class="col-6">
                    <h3 class="text-center"> News from The Bangldesh Today </h3>
                    {% for n in tbt_news %}
                    <h5> -  {{n}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_two == 'tna_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from The New Age</h3><br>
                    {% for na in tna_news %}
                    <h5> - {{na}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_two == 'tds_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from The Daily Star</h3><br>
                    {% for ds in tds_news %}
                    <h5> - {{ds}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_two == 'bd_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from BDNews24</h3><br>
                    {% for bd in bd_news %}
                    <h5> - {{bd}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_two == 'dt_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from Dhaka Tribune</h3><br>
                    {% for dt in dt_news %}
                    <h5> - {{dt}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% elif source_two == 'tdo_news' %}
                <div class="col-6">
                    <h3 class="text-center">News from The Daily Observer</h3><br>
                    {% for tdo in tdo_news %}
                    <h5> - {{tdo}} </h5>
                    <hr>
                    {% endfor %}
                    <br>
                </div>
                {% endif %}
            {% endif %}
        
        </div>
        <!-- <center><a href="/" class="btn btn-danger">Refresh News</a></center> -->
    </div>
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>